body,
html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

@font-face {
    font-family: 'ArcherPro-Bold';
    src: url("./ArcherPro-Bold.woff2") format("woff2"), url("./ArcherPro-Bold.woff") format("woff");
}


/* ----------- navigation ----------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: #ffffff;
}

nav {
    position: fixed;
    top: auto;
    left: auto;
    /* width: 100%; */
    min-height: 40px;
    z-index: 110;
}

#menu-menu-1 {
    transition: left 0.4s ease-in-out;
}

#menu-menu-1>li,
#menu-footer-menu>li {
    list-style-type: none;
    padding: 0 20px;
}

#menu-menu-1,
#menu-footer-menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu-footer-menu .menu_utilits {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#menu-footer-menu .menu_utilits .icon {
    margin-left: 10px;
    color: #000000;
}

#menu-footer-menu .menu_utilits .icon i {
    font-size: 1.2rem;
    color: #000000;
}

.label>img {
    width: 110px;
    height: auto;
}

.label {
    margin: 13px 0;
    text-align: center;
}

.menu-item>a {
    font-family: "ArcherPro-Medium", serif;
    color: #000000;
}

.menu-item.current-menu-item>a {
    color: #fc502e;
    text-decoration: underline;
}

#footer_nav {
    justify-content: center;
}

.animated-icon1 {
    width: 27px;
    height: 27px;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    background-color: #ec4c2e;
}

.animated-icon1 span:nth-child(1) {
    top: 3px;
}

.animated-icon1 span:nth-child(2) {
    top: 12px;
}

.animated-icon1 span:nth-child(3) {
    top: 21px;
}

.animated-icon1.open span:nth-child(1) {
    top: 11px;
    right: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
    right: 0;
    opacity: 0;
    right: -60px;
}

.animated-icon1.open span:nth-child(3) {
    top: 11px;
    right: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

button.navbar-toggler {
    outline: none;
}


/* ----------- home ----------------*/

.home-container {
    min-height: 100vh;
}

.container-row {
    height: 100%;
}

.side-column-left,
.side-column-right {
    /* background-image: url(../img/6-7-06.png); */
    /* background-size: cover; */
    /* background-size: 100%;
    background-repeat: repeat-y; */
    display: grid;
}

.side-column-left div,
.side-column-right div {
    border-top: #000000 2px solid;
    border-left: #000000 2px solid;
    border-right: #000000 2px solid;
}

.side-column-left div.last,
.side-column-right div.last {
    border-bottom: #000000 2px solid;
}

.content-column {}

.grid-cell-left-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-cell-left-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid-cell-left-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.grid-cell-left-4 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.grid-cell-left-5 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.grid-cell-left-6 {
    grid-column: 1 / 2;
    grid-row: 7 / 10;
}

.grid-cell-left-7 {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
}

.grid-cell-left-8 {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
}

.grid-cell-left-9 {
    grid-column: 1 / 2;
    grid-row: 12 / 14;
}

.grid-cell-left-10 {
    grid-column: 1 / 2;
    grid-row: 14 / 17;
}

.grid-cell-right-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-cell-right-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 7;
}

.grid-cell-right-3 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

.grid-cell-right-4 {
    grid-column: 1 / 2;
    grid-row: 8 / 11;
}

.grid-cell-right-5 {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
}

.grid-cell-right-6 {
    grid-column: 1 / 2;
    grid-row: 12 / 13;
}

.grid-cell-right-7 {
    grid-column: 1 / 2;
    grid-row: 13 / 14;
}

.grid-cell-right-8 {
    grid-column: 1 / 2;
    grid-row: 14 / 17;
}

.bg_color_black {
    background-color: #241F20;
}

.bg_color_rose {
    background-color: #FFA4CD;
}

.bg_color_green {
    background-color: #00ADA0;
}

.bg_color_blue {
    background-color: #374EA1;
}

.bg_color_red {
    background-color: #B62126;
}

.bg_color_white {
    background-color: #fff;
}


/* .side-column-right {
    background-image: url(../img/6-7-06.png);
} */


/* ----------- cart icon ----------------*/


/* ----------- contact ----------------*/


/* ----------- wooccommerce ----------------*/


/* ----------- general ----------------*/

.general_content>h1 {
    font-family: "ArcherPro-Bold", serif;
    color: #000000;
    font-size: 1.3rem !important;
    margin-bottom: 35px;
    text-align: center;
}


/* ----------- shipping ----------------*/


/* ----------- footer ----------------*/


/* ----------- media----------------*/


/*xs*/

@media only screen and (max-width: 576px) {
    #menu-footer-menu {
        flex-direction: column;
        text-align: center;
    }
    #menu-footer-menu .menu_utilits {
        justify-content: center;
    }
    #menu-footer-menu .menu_utilits .icon {
        margin: 0 5px;
    }
    #menu-menu-1 {
        position: absolute;
        top: 100%;
        /* left: -100%; */
    }
    .navbar-collapse.collapse.show #menu-menu-1 {
        left: 0;
    }
    .wp-block-image {
        margin-bottom: 40px;
    }
    .about_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .general_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .home-container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .ship_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .contact_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .woocommerce-cart-form,
    .cart-collaterals {
        margin: 130px 20px;
    }
    .woocommerce .cart-collaterals,
    .woocommerce-page .cart-collaterals {
        width: auto;
    }
    .page_title {
        text-align: center;
    }
    .page_content {
        text-align: center;
    }
    .woocommerce-page table.cart .product-thumbnail {
        display: block;
    }
    .woocommerce-page table.cart .product-thumbnail::before {
        display: none;
    }
    .woocommerce-cart table.cart img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .actions>button.button {
        display: none !important;
    }
    .woocommerce .product-remove>a.remove {
        margin-left: auto;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: transparent;
    }
    .cart_totals>h2 {
        margin-top: 80px;
        text-align: center;
    }
    .woocommerce a.button.alt {
        margin: auto;
    }
    .shipping_img>img {
        margin: 20px auto 40px auto;
    }
    .shop_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    #menu-menu-1 {
        background-color: #ec4c2e;
        text-align: center;
        padding: 20px 0;
    }
    #menu-item-18>a,
    #menu-item-25>a,
    #menu-item-19>a,
    #menu-item-28>a {
        color: #ffffff;
    }
    #menu-item-18.current-menu-item>a,
    #menu-item-25.current-menu-item>a,
    #menu-item-19.current-menu-item>a,
    #menu-item-28.current-menu-item>a {
        color: #ffffff;
        text-decoration: underline;
    }
}


/*sm*/

@media screen and (min-width: 576px) and (max-width: 768px) {
    #menu-footer-menu {
        flex-direction: column;
        text-align: center;
    }
    #menu-footer-menu .menu_utilits {
        justify-content: center;
    }
    #menu-footer-menu .menu_utilits .icon {
        margin: 0 5px;
    }
    #menu-menu-1 {
        position: absolute;
        top: 100%;
        /* left: -100%; */
    }
    .navbar-collapse.collapse.show #menu-menu-1 {
        left: 0;
    }
    .wp-block-image {
        margin-bottom: 50px;
    }
    .about_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .general_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .home-container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .ship_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .shop_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .contact_container {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .woocommerce-cart-form,
    .cart-collaterals {
        margin: 130px 60px;
    }
    .woocommerce .cart-collaterals,
    .woocommerce-page .cart-collaterals {
        width: auto;
    }
    .page_title {
        text-align: center;
    }
    .page_content {
        text-align: center;
    }
    .outline_button>a {
        padding: 5px 30px;
    }
    .woocommerce-page table.cart .product-thumbnail {
        display: block;
    }
    .woocommerce-page table.cart .product-thumbnail::before {
        display: none;
    }
    .woocommerce-cart table.cart img {
        display: block;
        margin: 0 auto;
        width: 70%;
        height: auto;
    }
    .actions>button.button {
        display: none !important;
    }
    .woocommerce .product-remove>a.remove {
        margin-left: auto;
    }
    .woocommerce table.shop_table_responsive tr:nth-child(2n) td,
    .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        background: transparent;
    }
    .cart_totals>h2 {
        margin-top: 80px;
        text-align: center;
    }
    .woocommerce a.button.alt {
        margin: auto;
    }
    .shipping_img>img {
        margin: 20px auto 40px auto;
    }
    #menu-menu-1 {
        background-color: #ec4c2e;
        text-align: center;
        padding: 20px 0;
    }
    #menu-item-18>a,
    #menu-item-25>a,
    #menu-item-19>a,
    #menu-item-28>a {
        color: #ffffff;
    }
    .menu-item.current-menu-item>a {
        color: #ffffff;
        text-decoration: underline;
    }
}


/*md*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    .outline_button>a {
        padding: 5px 40px;
    }
    #menu-menu-1 {
        background-color: #ffffff;
    }
}


/*lg*/

@media screen and (min-width: 992px) {
    #menu-menu-1 {
        background-color: #ffffff;
    }
}