body,
html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

@font-face {
    font-family: 'ArcherPro-Bold';
    src: url("./ArcherPro-Bold.woff2") format("woff2"), url("./ArcherPro-Bold.woff") format("woff");
}

.contact_formcol {
    background-color: #00ADA0;
}

.cont-formwrap {
    display: flex;
    justify-content: space-between;
}


/*xs*/

@media only screen and (max-width: 576px) {}


/*sm*/

@media screen and (min-width: 576px) and (max-width: 768px) {}


/*md*/

@media screen and (min-width: 768px) and (max-width: 992px) {}


/*lg*/

@media screen and (min-width: 992px) {}