body,
html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
}

@font-face {
    font-family: '13552';
    src: url("./13552.woff2") format("woff2"), url("./13552.woff") format("woff");
}

.label>img {
    width: 110px;
    height: auto;
}

.label {
    margin: 13px 0;
    text-align: center;
}

.page_title>h1 {
    width: fit-content;
    padding: 10px 35px;
    border: 5px solid black;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-family: '13552', serif;
    margin: 30px auto;
}

.label {
    width: 100%;
}

.label>img {
    width: 100%;
    height: auto;
    max-width: 110px;
}

#menu-menu-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu-item {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: '13552', serif;
}

.menu-item>a {
    color: #B62126;
}

.col-menu-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}

nav.navbar {
    padding-top: 30px;
}


/* ----------- menu ----------------*/

#menu-item-22>a>.menu-image-title-after.menu-image-title {
    display: none;
}

#menu-item-26>a>.menu-image-title-after.menu-image-title {
    display: none;
}


/* ----------- home ----------------*/

.home-container {
    min-height: 100vh;
    padding: 0;
}

.container-row {
    min-height: 100vh;
}

.side-column-left,
.side-column-right {
    display: grid;
}

.side-column-left div,
.side-column-right div {
    border-top: #000000 5px solid;
    border-left: #000000 5px solid;
    border-right: #000000 5px solid;
}

.side-column-left div.last,
.side-column-right div.last {
    border-bottom: #000000 2px solid;
}

.grid-cell-left-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-cell-left-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.grid-cell-left-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.grid-cell-left-4 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.grid-cell-left-5 {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.grid-cell-left-6 {
    grid-column: 1 / 2;
    grid-row: 7 / 10;
}

.grid-cell-left-7 {
    grid-column: 1 / 2;
    grid-row: 10 / 11;
}

.grid-cell-left-8 {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
}

.grid-cell-left-9 {
    grid-column: 1 / 2;
    grid-row: 12 / 14;
}

.grid-cell-left-10 {
    grid-column: 1 / 2;
    grid-row: 14 / 17;
}

.grid-cell-right-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.grid-cell-right-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 7;
}

.grid-cell-right-3 {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

.grid-cell-right-4 {
    grid-column: 1 / 2;
    grid-row: 8 / 11;
}

.grid-cell-right-5 {
    grid-column: 1 / 2;
    grid-row: 11 / 12;
}

.grid-cell-right-6 {
    grid-column: 1 / 2;
    grid-row: 12 / 13;
}

.grid-cell-right-7 {
    grid-column: 1 / 2;
    grid-row: 13 / 14;
}

.grid-cell-right-8 {
    grid-column: 1 / 2;
    grid-row: 14 / 17;
}

.bg_color_black {
    background-color: #241F20;
}

.bg_color_rose {
    background-color: #FFA4CD;
}

.bg_color_green {
    background-color: #00ADA0;
}

.bg_color_blue {
    background-color: #374EA1;
}

.bg_color_red {
    background-color: #B62126;
}

.bg_color_white {
    background-color: #fff;
}

.wp-block-image.size-large>img {
    width: 100%;
    height: auto;
}


/* ----------- cart icon ----------------*/


/* ----------- contact ----------------*/

.contact_formcol {
    background-color: #00ADA0;
    border: 5px solid #000000;
    padding: 50px 30px;
    min-height: 85vh;
}

.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    border: none;
}

.contact-left>p>label,
.contact-left>label,
.contact-right>label {
    font-size: 1.1rem;
    font-family: '13552', serif;
    color: #fff;
    text-align: left;
}

.wpcf7-form-control.wpcf7-submit {
    font-size: 1.1rem;
    font-family: '13552', serif;
    color: #000;
    text-align: center;
    background-color: #fff;
    border: 5px solid #000;
    padding: 6px 30px;
    width: fit-content;
}

.send_button {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}


/* ----------- wooccommerce ----------------*/


/* ----------- shipping ----------------*/


/* ----------- footer ----------------*/


/* ----------- media----------------*/


/*xs*/

@media only screen and (max-width: 576px) {
    .contact-left,
    .contact-right {
        text-align: center;
    }
    .send_button {
        align-items: center;
    }
}


/*sm*/

@media screen and (min-width: 576px) and (max-width: 768px) {
    .contact-left,
    .contact-right {
        text-align: center;
    }
    .send_button {
        align-items: center;
    }
}


/*md*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    .menu-item {
        font-size: 0.75rem;
    }
}


/*lg*/

@media screen and (min-width: 992px) {}